$large-sidebar-width: 12%;
$large-main-width: 88%;

$sidebar-width: 70px;

@import './card';
@import './fonts';
@import './sidebar';

body {
  background: rgb(167, 167, 167);
}

.main {
  position: absolute;
  margin-left: 100px;
  min-height: 100%;
  // @media(min-width: 1000px) {
  //   width: $large-main-width;
  //   margin-left: $large-sidebar-width;
  // }
}
