html, body, #app, .page {
  height: 100%;
  // overflow: hidden;
}

.card {
  padding: 5px;
  display: inline-block;
  background: rgb(125, 139, 240);
  margin-bottom: 10px;
}

.add-card-button {
}

.main {
  padding-top: 10px;
  margin: 5px;
  background: rgb(167, 167, 167);
  height: 95%;
}
